spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

server:
  # This tells the app: Use the PORT variable from Render,
  # but use 8080 as a backup if running locally.
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000