spring:
  datasource:
    # Render provides a variable called DATABASE_URL.
    # If it's missing (like on your laptop), it falls back to your local Postgres.
    url: ${DATABASE_URL:${DB_URL:jdbc:postgresql://localhost:5432/hireforge}}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  # It's better to keep the secret in an environment variable for safety
  secret: ${JWT_SECRET:v9y$B&E)H@McQfTjWnZr4u7x!A%C*F-JaNdRgUkXp2s5v8y/B?E(G+KbPeShVmYq}
  expiration: 3600000